<button type="button" class="btn btn-primary" (click)="open(content)">Agregar Transportista</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Transportista</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row g-3 align-items-center">
      <form [formGroup]="AddTransportistaForm">
      <div class="row contenedor">
        <div class="col-md-6">
          <label class="col-form-label">Nombre del Transportista:</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" formControlName="primerNombre">
        </div>
      </div>

      <div class="row contenedor">
        <div class="col-md-6">
          <label class="col-form-label">Fecha de Nacimiento:</label>
        </div>
        <div class="col-md-6">
          <input type="date" class="form-control" formControlName="fechaNacimiento">
        </div>
      </div>

      <div class="row contenedor">
        <div class="col-md-6">
          <label class="col-form-label">Teléfono:</label>
        </div>
        <div class="col-md-6">
          <input type="tel" class="form-control" formControlName="telefono" mask="(000)0000-0000">
        </div>
      </div>

      <div class="row contenedor">
        <div class="col-md-6">
          <label class="col-form-label">Tarifa:</label>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" formControlName="tarifa" mask="separator.2" thousandSeparator=",">
        </div>
      </div>
    </form>
    </div>
  </div>
  <div class="modal-footer contenedor">
    <button type="button" class="btn btn-outline-success" [disabled]="this.AddTransportistaForm.invalid" (click)="this.addTransportista(AddTransportistaForm.value)">Agregar</button>
  </div>
</ng-template>
