<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre de Transportista</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Tarifa(L.)</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>David Flores</td>
        <td>2023-02-15</td>
        <td>(504)8649-4956</td>
        <td>15.00</td>
        <td class="accionEspacios">
          <button class="btn btn-danger">Eliminar</button>
          <button class="btn btn-warning">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
