<div class="container">
  <div class="d-flex justify-content-between">
    <form>
      <div class="mb-3 row">
        <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Buscar:</label>
        <div class="col-xs-3 col-sm-auto">
          <input name="search" class="form-control" type="text" [(ngModel)]="searchText">
        </div>
      </div>
    </form>
    <colaborador-add-modal></colaborador-add-modal>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" (click)="sort('primerNombre')">Nombre Colaborador <i class="fa fa-sort"></i></th>
        <th scope="col">DNI</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Dirección</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let colaborador of listadoColaboradores | filter:searchText | orderBy:keyForSort:reverseForSort  | paginate:{itemsPerPage:10,currentPage:paginationNumber,totalItems:listadoColaboradores.length} ;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>
          {{colaborador.primerNombre}} {{colaborador.primerApellido}}
        </td>
        <td>{{colaborador.dni | dni}}</td>
        <td>{{colaborador.fechaNacimiento | date: 'dd-MM-yyyy'}}</td>
        <td>{{colaborador.direccion}}</td>
        <td>{{colaborador.telefono | telefono}}</td>
        <td class="accionEspacios">
          <button class="btn btn-danger" (click)='delete(colaborador)'>Eliminar</button>
          <button class="btn btn-warning" (click)="sendDataUpdate(colaborador)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="paginationNumber = $event"></pagination-controls>
</div>
