<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre Colaborador</th>
        <th scope="col">Sucursal</th>
        <th scope="col">Distancia(Km)</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>David Flores</td>
        <td>Simán Las Acacias</td>
        <td>20 Km</td>
        <td class="accionEspacios">
          <button class="btn btn-danger">Eliminar</button>
          <button class="btn btn-warning">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
