
<div class="container">


  <button class="btn btn-primary backButton" [routerLink]="['/ReporteViaje']">Regresar</button>

  <h3>Detalle del Viaje</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre del Colaborador</th>
        <th scope="col">Distancia recorrida</th>
        <th scope="col">Pago</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>David Flores</td>
        <td>20</td>
        <td>300</td>
      </tr>
    </tbody>
  </table>
</div>
