<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Proyecto Transporte</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav nav-underline ">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/Viaje']" routerLinkActive="active" href="#">Viajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/Colaboradores']" routerLinkActive="active"
            href="#">Colaboradores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/Sucursales']" routerLinkActive="active" href="#">Sucursales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/Transportistas']" routerLinkActive="active"
            href="#">Transportistas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/AsignarSucursal']" routerLinkActive="active" href="#">Asignar
            Sucursal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/ReporteViaje']" routerLinkActive="active" href="#">Reporte
            Viajes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
