<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Proyecto Transporte</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Viaje']" routerLinkActive="active-link" href="#">Viajes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Colaboradores']" routerLinkActive="active-link" href="#">Colaboradores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Sucursales']" routerLinkActive="active-link" href="#">Sucursales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/AsignarSucursal']" routerLinkActive="active-link" href="#">Asignar Sucursal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ReporteViaje']" routerLinkActive="active-link" href="#">Reporte Viajes</a>
      </li>
    </ul>
  </div>
</nav>
