<div class="container">
  <h3>Reporte de Viajes</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre transportista</th>
        <th scope="col">Tarifa</th>
        <th scope="col">Distancia recorrida</th>
        <th scope="col">Pago</th>
      </tr>
    </thead>
    <tbody>
      <tr [routerLink]="['/ViajeDetalle']" >
        <th scope="row">1</th>
        <td>David Flores</td>
        <td>15</td>
        <td>70</td>
        <td>1050</td>
      </tr>
    </tbody>
  </table>
</div>
