<div class="container">


  <div class="container contenedor">
    <select class="form-select">
      <option hidden selected>Seleccione un Transportista</option>
      <option>Juan Gonzales</option>
      <option>Juan Gonzales</option>
      <option>Juan Gonzales</option>
      <option>Juan Gonzales</option>
    </select>

    <viaje-add-modal></viaje-add-modal>

  </div>

  <Viaje-table-list [isButtonAdd]="false"></Viaje-table-list>

  <button class="btn btn-success">
    Registrar Viaje
  </button>

</div>
